body{
    background-color: #fff;
}
h1{
    text-align: center;
    margin: 0 20px;
}
.container{
    width: 600px;
}

.form-row{
    margin: 20px 50px;

}

.buttons{
    display: flex;
    justify-content: space-between;
    margin: 0 60px;
}
